<h1 style='color:<%= @color %>'>
My name is <%= @name %>
</h1>

<body>
    <div>
    <% unless @name %>
    <form action="/named_cat" method="post">
    name: <input type="text" name="name">
    <input type="submit" value="Submit">
    </form>
    <%end%>
    </div>

    <div>
      <img style='border:5px dashed <%= @border_color %>' src='http://bit.ly/1eze8aE'>
    </div>
</body>
