<h1 style='color:<%= @color %>'>
My name is jini
</h1>

<body style='background-color:<%= @background %>;'>
    <div>
      <img style='border:5px dashed <%= @color %>' src='http://bit.ly/1eze8aE'>
    </div>
</body>
